@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: "Poppins",sans-serif;
}


    

body{
    background-color:#B2A6D9;
}
   
.wrapper{
width: 330px;
padding: 2rem 1rem;
margin: 50px auto; 
border-radius: 10px;
text-align: center;
box-shadow: 0 20px 35px black;
background-color:white;

}
h1{
    font-size: 2rem;
    color: #070007;
    margin-bottom: 1.2rem;
}
form input{
    width: 92%;
    outline: none;
    border: 1px 20px;
    padding: 12px 20px ;
    margin-bottom: 10px;
border-radius: 20px;
background: #e4e4e4;
}
button{
    font-size: 1rem;
    margin-top: 1.8px;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90px;
    color: #fff;
    background-color: #A294F9;
}
.terms{
margin-top: 0.2rem;
}
.terms input{
    height: 1em;
}
.terms{
    margin: 10px;
    padding: 10px;

}
.terms a{

    text-decoration: none;
}
.member{

    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
}
.member a{
    text-decoration:none ;
}